
.nav {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 130px;
  width: 100%;
  max-width: 1440px;
  position: absolute;
  z-index: 5;
}

.logo {
  height: 40px;
  margin-left: 20px;
}


button.headerBtn {
  color: white;
  font-weight: 900;
  margin-inline: 10px;
}

button.login {
  border: 5px solid white;
}