.textareaBox {
  position: relative;
}

.submitButton {
  width: 10em;
}

.footer {
  margin-bottom: 20rem;
}

.edit {
  margin-left: 30rem;
  position: absolute;
  display: flex;
}

.delete {
  margin-left: 35rem;
  position: absolute;
  display: flex;
}

.textbox {
  width: 50em;
  height: 7em;
  padding-top: 1.8rem;
}