.starBox {
  width: 25px;
  height: 25px;
  line-height: 25px;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  position: relative;
  z-index: 5;
  text-align: center;
  border: 2px solid white;
  box-shadow: 0px 0px 0px 2px white;
  padding: 0px;
}

.rating {
  display: flex;
  position: absolute;
  width: fit-content;
  z-index: 0;
  top: 20px;
  left: 20px;
}

.textbox {
  width: 50em;
  height: 25em;
}

.hoverText {
  margin-left: 15rem;
  padding: 5px;
}

.submitButton {
  width: 10em;
}

.footer {
  margin-bottom: 20rem;
}

.edit {
  margin-left: 46rem;
  position: absolute;
  display: flex;
}

.delete {
  margin-left: 50rem;
  position: absolute;
  display: flex;
}

.textbox {
  width: 50em;
  height: 7em;
  padding-top: 1.8rem;
}