.searchBar {
  width: 100%;
  max-width: 660px;
  height: 48px;
}

.form {
  display: flex;
  padding: 0;
  margin: 0;
}

.inputL, .inputR {
  width: 100%;
  padding-left: 5px;
  font-size: 1.2rem;
  border-radius: 0;
}

.inputL {
  position: relative;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 2px solid gray;
}

.inputR {
  border-left: none;
}

.searchBtn {
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

.searchIcon {
  height: 100%;
  background-color: #E00707;
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}