
.starsBox {
  position: relative;
  display: flex;
  width: fit-content;
  z-index: 0;
  overflow: hidden;
}

.starBox {
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  position: relative;
  z-index: 5;
  text-align: center;
  border: 2px solid white;
  box-shadow: 0px 0px 0px 2px white;
}

.star {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .star-rating {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    border: none;
    outline: none;
    cursor: pointer;
  }

.on {
    color: #000;
  }

.off {
    color: #ccc;
  }

 .rating { 
    display: flex; 
    flex-direction: row;
    align-self: center; 
    margin: 0px auto; 
   }
 