
.starsBox {
  display: flex;
  gap: 5px;
}

.starBox {
  width: 25px;
  height: 25px;
  background-color: #6e7072;
  border-radius: 3px;
}

.star {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .star-rating {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    border: none;
    outline: none;
    cursor: pointer;
  }

.on {
    color: #000;
  }

.off {
    color: #ccc;
  }

 .rating { 
    display: flex; 
    flex-direction: row;
    align-self: center; 
    margin: 0px auto; 
   }
 