/* Assign to parents for changing direction */
.row { display: flex; flex-direction: row; }
.col { display: flex; flex-direction: column; }
/* Assign to children of row/col to center */
.row > .centered { align-self: center; margin: auto 0px; }
.col > .centered { align-self: center; margin: 0px auto; }