/* Assign to parents for changing direction */
.row { display: flex; flex-direction: row; }
.col { display: flex; flex-direction: column; }
/* Assign to children of row/col to center */
.row > .centered { align-self: center; margin: auto 0px; }
.col > .centered { align-self: center; margin: 0px auto; }

/* global vars */
body {
  --red: #e00707;
}

/* general stuff */
.outlineBox {
  outline: 1px solid #ebebeb;
  border-radius: 4px;
  padding: 16px;
}

/* input styling */
button, input, select {
  display: flex;
  align-items: center;

  background-color: transparent;
  border: 0;
  border: 1px solid #c8c9ca;
  border-radius: 4px;
  justify-content: center;
  padding: 8px 16px;
}
button:hover {
  background-color: rgba(0,0,0,0.12);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3);
}
button.red {
  background-color: var(--red);
  border: 0;
  color: white;
  fill: white;
}
button.red:hover {
  background-color: rgb(244,13,21);
  color: rgba(255,255,255,1);
}

#footer {
  padding: 60px 0;
}
#footer > div {
  margin: 0 12px;
}
#footer a {
  color: rgba(110,112,114,1);
  text-decoration: none;
  line-height: 20px;
  font-size: 14px;
  margin-top: 8px;
}

