button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .on {
    color: #000;
  }
  .off {
    color: #ccc;
  }

  .star-rating { display: flex; flex-direction: row;
align-self: center; margin: 0px auto; 
   }
 